@use "../../mixins.scss" as *;

$themes: (
  light: (
    bgColor: #333,
    txtColor: #ddd,
  ),
  dark: (
    bgColor: #ddd,
    txtColor: #222,
  ),
);

@include themify($themes) {
  &.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;

    font-size: 1rem;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;

    background-color: themed('bgColor');
    color: themed('txtColor');

    &:hover {
      background-color: darken(themed('bgColor'), 5%);
    }

    &:active {
      background-color: darken(themed('bgColor'), 20%);
    }

    &:disabled {
      background-color: darken(themed('bgColor'), -20%);
      cursor: not-allowed;
    }
  }
}