@use "../../mixins" as *;

.button {
  @include flex(row, center, center, 0.5rem);

  border: 1px solid white;
  border-radius: 8px;
  padding: 0.6rem 1.2rem;

  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;

  background-color: $bg-color;
  color: $txt-color;

  &:active,
  &:hover {
    border-color: $border-color;
  }

  &:active {
    background-color: darken($bg-color, 30%);

    transform: translateY(1px);
    transition: all 0.1s;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}