* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

$bg-color: #1a1a1a;
$txt-color: #ddd;
$border-color: #646cff;
$bg-active-percent: 25%;