@use "sass:map";
@use "sass:color";
@use "globals";
@forward "globals";

$theme-map: null !default;

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .#{$theme} {
      $theme-map: $map !global;
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @if not $theme-map {
    @error "theme-map is not defined!";
  }
  @return map.get($theme-map, $key);
}

@function darken($color, $amount) {
  @return color.adjust($color, $lightness: -$amount);
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex($direction: row, $justify: flex-start, $align: flex-start, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}